<!DOCTYPE html> 
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>IntroPage</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="intro.css">

</head>

<body>
    <div class="container">
        <h2>Welcome to Hippo Talk</h2>
        <a href="newUser.html">
            <button class="btn btn-primary btn-lg">New User</button>
        </a>

        <a href="login.php">
            <button class="btn btn-primary btn-lg">Existing User</button>
        </a>
    </div>
</body>

